.profile {
    width: 85%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e7e8eb;
    border-radius: 4px;
}

.row {
    display: flex;
}

.avatar {
    border-radius: 2px;
}

.profile_info {
    margin-left: 20px;
}

.profile_name {
    margin: 0 0 20px 0;
}