.navbar {
    width: 15%;
}

.links {
    list-style-type: none;
    margin: 0 15px 0 0;
    padding: 0;
}

.link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0 5px;
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

.link:hover {
    background: #e6e7eb;
    border-radius: 4px;
}

.active {
    font-weight: 600;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}